@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: rgb(247, 242, 237);
}



.col-white{
    color: #fff;
}

.text-bold{
    font-weight: 700;
}