:root{
    --colombia-yellow: #F7C700;
    --colombia-blue: #002E83;
    --colombia-red: #C20F2D;
}
.navbar-toggler{
    background-color: #fff;
}
.sticky-header{
    top: 0;
    position: sticky;
    z-index: 10;
}
.navbar{
    position: fixed;
}

.div_top{
    height: 100vh;
}

.line-1{
    text-align: center;
    background-color: var(--colombia-yellow);
    min-height: 50px;
}

.line-2{
    background-color: var(--colombia-blue);
    min-height: 25px;
}

.line-3{
    background-color: var(--colombia-red);
    min-height: 25px;
}

.griddle{
    display: grid;
    place-items: center;
}
.quarry{
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 1fr .85fr .3fr;
    place-items: center;
    padding: 3em;
}

.logo{
    width: 350px;
    border-radius: 2em 1em;
}