main{
    text-align: center;
}

.arepas-grid{
    margin: 3vh 0 3vh 0;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 3em;
}

@media (max-width:768px){
    .arepas-grid{
        grid-template-columns: 1fr;
    }
    .card-food{
        width: 250px;
        height: 300px;
    }
    .back-food-content img{
        max-width: 180px;
        max-height: 200px;
        border-radius: 3em;
      }
}