main{
    margin: 3vh 0 3vh 0;
    width: 80%;
    margin-left: 10%;
    height: 450px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}