.bg-blurry{
    background: url(https://static.vecteezy.com/system/resources/previews/001/948/406/non_2x/wood-table-top-for-display-with-blurred-restaurant-background-free-photo.jpg);
    animation: gradient 30s ease infinite;  /*<-------Duration of the "Day"*/
    background-size: 120% 120%;
    backdrop-filter: blur(5px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}